# docker-compose.yml
version: "3.9"

services:
  app:
    build:
      context: .
    image: fastapi-uv-app:latest
    env_file: .env
    environment:
      DB_HOST: db
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./crudadmin_data:/app/crudadmin_data
    command: >
      uvicorn app.main:app
      --host 0.0.0.0 --port 8000
      --reload
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import socket; s=socket.socket(); s.settimeout(2); s.connect(('127.0.0.1',8000))",
        ]
      interval: 30s
      timeout: 3s
      retries: 5

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h 127.0.0.1",
        ]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
